:root {
    --bg-color: #f4f8fb;
    --btn-color: #212156;
    --title: #123458;

}

* {
    margin: 0;
    padding: 0px;
}

.navbar {
    background-color: var(--bg-color);
    opacity: 0.9;
    position: fixed;
    top: 0px;
    width: 100%;
    backdrop-filter: blur(7px);
    z-index: 999;
}

.blank {
    background-color: transparent;
    height: 100px;
}




.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
    margin-right: 20px;
}

.employee-profile {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    /* margin-bottom: 20px; */
}



/* footer */
.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  background: #c4d3ee70;
  border-top: 1px solid #ddd;
  z-index: 1;
  backdrop-filter: blur(7px);
}

/* Add padding to main content to prevent overlap */
/* main {
  padding-bottom: 60px; 
} */