:root {
    --bg-color: #f4f8fb;
    --btn-color: #212156;
    --title: #123458;

}


*{
    margin: 0;
    padding: 0px;
}

.custom-navbar div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.navbar{
    background-color:var(--bg-color);
    opacity: 0.9;
    position: fixed;
    top: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 999;
}


.blank{
    background-color: transparent;
    height: 55px;
}

/* .container-index{

    background-color:var(--bg-color);
    padding: 40px;

} */