:root {
    --bg-color: #f4f8fb;
    --btn-color: #212156;
    --title: #123458;

}

* {
    margin: 0;
    padding: 0px;
}

.custom-navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar {
    background-color: var(--bg-color);
    opacity: 0.9;
    position: fixed;
    top: 0px;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 999;
}



/* error ans success msg */

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.success {
    color: green;
    margin-bottom: 10px;
    text-align: center;
}




/* navbar profile */

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: fill;
    margin-right: 20px;
}

.employee-profile {
    display: flex;
    align-items: center;
}

a{

    padding: 13px !important;
    margin-right: 10px !important;
    
}


